.projetos-bg {
    background: var(--color-2);
}

.projetos h2 {
    padding-bottom: 15px;
}

.projetos p:first-child {
    padding-left: 15px;
}

.projetos .detail::before {
    top: 80px;
    left: 20px;
}

.projetos {
    position: relative;
}

.projetos ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    gap: 20px;
    padding-bottom: 20px;
}

li {
    position: relative;
}

.img-projetos:hover::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: #000000;
    position: absolute;
    border: 2px solid var(--spotlight);
}

.hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    gap: 40px;
    position: absolute;
    opacity: 0;
    /*  pointer-events: none; */
    visibility: hidden;
}

.img-projetos:hover .hover {
    opacity: 1;
    transition: 3s;
    visibility: visible;
}


/* .hover.ativo {
    pointer-events: visible;
} */

@media (max-width: 800px) {
    .projetos .detail::before {
        top: 60px;
    }
    .projetos ul {
        grid-template-columns: 1fr 1fr;
    }
    /*     .hover {
        pointer-events: visible;
    } */
}

@media (max-width: 600px) {
    .projetos ul {
        grid-template-columns: 1fr;
    }
}