.img-decorativa {
    background: var(--color-3);
    background-attachment: fixed;
    background-image: url("../../img/parallax.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
}