.img-decorativa {
    background: var(--color-3);
    background-image: url("../../img/fundo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: block;
}

@media (max-width: 800px) {
    .img-decorativa {
        height: 300px;
    }
}