.img-decorativa {
    background: var(--color-3);
    background-image: url("../../img/fundo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    display: block;
}